<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <add key="trainingFile" value="train.csv"/>
    <add key="dataFile" value="train.csv"/>
    <add key="recordCount" value="459"/>
    <add key="offset" value="6000"/>
  </appSettings>
</configuration>
